:root {
  --primary-green: hsl(160deg, 100%, 30%);
  --secondary-gold-lighter: hsl(45deg, 100%, 50%);
  --secondary-gold-darker: hsl(45deg, 100%, 40%);
  --black: hsl(0deg, 0%, 0%);
  --gray-darker: hsl(0deg, 0%, 10%);
  --gray-dark: hsl(0deg, 0%, 30%);
  --gray: hsl(0deg, 0%, 40%);
  --gray-light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.25rem;
}

strong {
  color: var(--primary-green);
}

.max-width-wrapper {
  padding: 96px;
}

main .max-width-wrapper {
  background-color: var(--gray-light);
  border-top: 8px solid var(--gray);
}

.intro-chunk {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 4 24;
}

.title {
  padding-bottom: 24px;
}

.card {
  background-color: var(--white);
  padding: 4 24;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 8px solid var(--gray);
}

.indented-heading {
  background-color: var(--secondary-gold-lighter);
  border-bottom: 8px solid var(--secondary-gold-darker);
  padding: 24px;
  margin-left: -32px;
  margin-top: 4px;
  width: fit-content;
}
